*{
    boder: 0;
    margin: 0;
    paddind:0;
}
body{
    background:#BEBEBE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    width: 100%;
    background: #4B0E88;
    height: 90px;
    display: flex;
    justify-content:space-between ;
}

main{
    width: 80%;
    margin: 50 px auto;
    background: #fff;
    height: 500px;
}

footer{
    width:100%;
    background: #8C53E3;
    height: 200px;
}
#logo{
    width: 50px;
    font-size: 22px;

}
nav ul{
    display: flex;
}
nav ul li{
    width: 100px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
}
nav ul li:hover{
    background:#fff;
    color: #4B0E88;
}